:root{
    --max-width: 1200px;
    --border-top: 1px solid #0a0a1014;
    --border-bottom: 1px solid #0a0a1014;
    --color:#F35C58;
}

body, input, button{
    margin: 0;
    font: 14px 'Nunito', sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav-bar{
    width: 100%;
    height: 55px;
    background-color: white;
    border-top: var(--border-top);
    border-bottom: var(--border-bottom);
}

.nav-items{
    width: 100%;
    background-color: white;
    height: 50px;
}

.nav-items a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 16px 25px;
}

.nav-items a.active{
    color: var(--color);
}

.nav-items a:hover{
    color: var(--color);
}

.nav-items ul{
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-items li{
    list-style: none;
    display: block;
}

.nav-items li:hover{
    background-color: #E5E5E5;
    color: var(--color);
}

.nav-img{
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
}

.nav-img img{
    width: 80px;
    height: auto;
}

.nav-img a:hover{
    background-color: #E5E5E5;
}

.movies{
    display: flex;
}

.movies .slide-show{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slide-show img{
    width: 150px;
    border-radius: 5px;
}

.footer{
    background-color: #F1F2FA;
    width: 100%;
    height: 400px;
    border-top: var(--border-top);
}

.footer img{
    width: 84px;
    height: 32px;
    padding: 10px 50px;
}

.social{
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: var(--border-bottom);
}

.rede-social{
    display: flex;
}

.rede-social a{
    cursor: pointer;
}

.rede-social img{
    width: 20px;
    height: 20px;
}

.sky-informacoes{
    grid-template-areas: 'app sobre-sky respons-sky';
    grid-template-columns: 50% 30% 30%;
    display: flex;
    padding: 16.5px 0;
    justify-content: space-around;
}

.sky-informacoes img{
    width: 50px;
    height: 50px;
}

.app{
    grid-area: app;
    font: 14px 'Nunito', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.app span{
    display: flex;
    flex-direction: column;
}

.app p{
    cursor: pointer;
}

.sobre-sky{
    grid-area: sobre-sky;
    display: flex;
    padding: 16.5px 0;
    flex-direction: column;
}

label{
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font: 15px 'Nunito', sans-serif;
    font-weight: bold;
    flex-direction: column;
}

.sobre-sky p{
    color: rgba(0, 0, 0, 0.87);
    font: 14px 'Nunito', sans-serif;
    line-height: 1px;
}

.sobre-sky p:hover,
.respons-sky p:hover{
    color: var(--color);
    cursor: pointer;
}

.respons-sky{
    margin-top: 5px;
}

.link-footer{
    background-color: white;
    height: 15px;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
}

.link-footer a{
    text-decoration: none;
    font: 14px 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

.link-footer a:hover{
    color: var(--color);
}

.link-footer span{
    margin: 0 5px;
}

.direitos{
    height: 60px;
    background-color: #F1F2FA;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
}

.direitos p, span{
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6);
}

#carouselExampleControls{
    width: 100%;
    height: 200px;
}

.carousel-inner{
    width: 500px;
    height: 200px;
    background-color: red;
}